development: &default
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: scrivito_example_dev
  pool: 5

test:
  <<: *default
  database: scrivito_example_test

production:
  <<: *default
  database: scrivito_example
  password:
